<!DOCTYPE html>
<html>
<head>
        <title>My Faviourite Movies</title>
    </head>

    <body>

    <form th:object="${user}" method="post">

        <input type="text" th:field="*{userID}" />
        <input type = "submit" />

    </form>

        <p th:text="${myMovies.userID}" ></p>

        <p th:each="myMovie : ${myMovies.myMovies}"
           th:text="${myMovie.title} + '-' + ${myMovie.category} + ': ' + ${myMovie.description}"></p>


        <p th:each="myRating : ${myMovies.myMoviesRating}"
           th:text="${myRating.totalScore} + ' / ' + ${myRating.averages} + ' %'"></p>

    </body>
</html>